.variant ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.variant ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}
