body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 900px;
  background-color: #ffffff;
  display: flex;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Product Photo */
.product__photo {
  flex: 1;
}

.photo-container {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
}

.photo-main img {
  width: 100%;
  border-radius: 10px;
}

.photo-album ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin-top: 15px;
}

.photo-album ul li img {
  widt
